#searchbox {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    margin: 15px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius:  3px;
    border: 1px solid #fff;
}

#search {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 45px;
    width: 120px;
    color: black;
    border-left: 1px solid #fff;
    border-radius: 0 3px 3px 0;
}

#search-area {
    padding-left: 20px;
}

recipes {
    display: inline-block;
    border: solid 0px black;
    height: 800px;
    width: 95%;
    overflow: scroll;
    position: relative;
    padding-left: 20px;
    font-size: 25px;

}

.name {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.yield {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.ingredients {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.calories {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.weight {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
}

.diet-labels {
    font-weight: 550;
    font-size: 20px;
    padding: 5px;
    border-bottom: solid 1px black;
}